<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 全路径别名 -->
		<typeAlias type="com.medicine.dto.TestScope" alias="TestScope" />
		<typeAlias type="com.medicine.model.User" alias="User" />
		<typeAlias type="com.medicine.vo.UserView" alias="UserView" />
		<typeAlias type="com.medicine.model.Role" alias="Role" />
		<typeAlias type="com.medicine.model.Page" alias="Page"/>
		<typeAlias type="com.medicine.vo.PageView" alias="PageView"/>
		<typeAlias type="com.medicine.model.DrugInfo" alias="DrugInfo"/>
		<typeAlias type="com.medicine.vo.DrugInfoView" alias="DrugInfoView"/>
	</typeAliases>
<!-- 	<settings> -->
<!-- 		<setting name="" value=""/> -->
<!-- 	</settings> -->
</configuration>